- require 'yaml'
!!! 5
%html
  %head
    %title reasonable
    - %w(options buttons).each do |style|
      %link{:rel => "stylesheet", :type => "text/css", :href => "/css/#{style}.css"}
  %body
    %h1
      %img{:src => "/img/icon_48.png", :alt => "logo", :title => "I put on my monocle and top hat",
           :height => "48", :width => "48"}
      reason
      %span.able able
    %p Hide trolls you don't want to see again, show the nice folks who have been improperly       |
       maligned, and leave on auto to let the update script do its thing.                          |
    %table#container
      %tbody
        %tr
          %td#leftside
            %table#trolls
              %thead
                %tr
                  %th Trolls
              %tbody.scrollContent
            %br
            %input#troll{:type => "text", :placeholder => "Troll"}
            %button#add Blacklist
            %br
          %td#rightside
            %ul#options
              - YAML.load_file(File.dirname(__FILE__) + "/../yml/options.yml").each do |option|
                %li{:title => option["help"]}
                  - if option["type"].nil?
                    %input{:id => option["id"], :type => "checkbox", :checked => option["checked"]}
                    %label{:for  => option["id"]}
                      :textile
                        #{option["text"]}
                  - elsif option["type"] == "text"
                    %label{:for  => option["id"]}
                      :textile
                        #{option["text"]}
                    %input{:type => "text"}
            %button#save Save &amp; Exit
    - %w(const jquery-1.6.1.min jquery.brymck options).each do |script|
      %script{:type => "text/javascript", :src => "/js/#{script}.js"}
