/* Global variables */
$reason-orange: #ff5600

/* Mixins */
@mixin centered($width, $height)
  height: $height
  left: 50%
  margin-left: -$width  / 2
  margin-top:  -$height / 2
  position: fixed
  top: 50%
  width: $width

@mixin horizontal-list($delimiter)
  ul
    li
      background-image: none
      display: inline-block
      padding-left: 0
      &:before
        content: $delimiter
      &:first-child:before
        content: ""

@mixin shadowed($size, $opacity)
  -webkit-box-shadow: $size $size $size rgba(0, 0, 0, $opacity)

/* Post */
div.post.blog, div.post.inner
  .ableAltText
    background-color: #eee
    border-bottom: 1px solid #ccc
    border-left: 1px solid #ccc
    border-right: 1px solid #ccc
    color: #333
    font-size: 12px
    font-style: italic
    margin-bottom: 10px
    padding-left: 2px
  img.pic.ableAltTextImage
    margin-bottom: 0
  img.pic + .ableAltText
    margin-left: auto
    margin-right: auto
  img.pic.left + .ableAltText
    clear: left
    float: left
    margin-left: inherit
    margin-right: inherit
  img.pic.right + .ableAltText
    clear: right
    float: right
    margin-left: inherit
    margin-right: inherit
    
/* Comment */
div.com-block
  .commentheader
    a
      cursor: pointer
    .filter
      padding-left: 0.25em

  div.filter_explanation
    @include horizontal-list(", ")
    color: #bbb
    margin-bottom: 8px
    opacity: 0
    &:hover
      opacity: 1
    a
      color: #ffcabb
      cursor: pointer
      font-size: 14px
    p
      display: inline-block
      margin-bottom: 0
    ul
      display: inline-block
      padding-left: 0.5em

  div.filters
    @include horizontal-list("\a0")
    display: inline-block
    a
      cursor: pointer

  &.unread
    background-color: lighten($reason-orange, 49%)

  /* Highlight myself */
  &.ableMe, &.unread.ableMe
    background-color: #ffc


div#filter_dialog
  @include centered(21em, 7em)
  @include shadowed(10px, 0.3)
  background-color: #fff
  border: solid 1px #000
  font-size: 14px
  padding: 1em
  label + input
    margin-left: 1em

div.highlight
  background-color: #eee

div.collapsed
  display: none

iframe.youtube-player
  display: block

img.ableCommentPic
  max-height: 40em
  max-width: 100%

/* Gravatar */
img.ableGravatar
  display: block
  float: right
  padding-left: 4px
  z-index: -1

/* Character count */
div.leave-comment
  div.ableCount
    input
      border: none
      padding-right: 0
      text-align: right
      width: 3em
    input, label
      display: inline-block !important

/* Commenting shortcuts */
ul.ableQuick
  font-size: 14px
  a
    cursor: pointer
  li
    background-image: none !important
    display: inline-block
  li:first-child
    padding-left: 0 !important
  li + li
    padding-left: 0.25em

.ableCount
  font-size: 87.5%
  .pipe
    padding: 0 1px

/* Control panel */
#ableControls
  @include shadowed(4px, 0.2)
  background-color: #fff
  border: solid 1px
  bottom: 10px
  font-size: 12px
  padding: 0.25em
  position: fixed
  right: 10px
  z-index: 1
  hr
    background-color: #ccc
    border: 0
    height: 1px
  ul
    li
      a
        cursor: pointer
  #ableHistory
    max-height: 0
    overflow-y: hidden
    -webkit-transition-property: max-height
    -webkit-transition-duration: 0.5s

#ableControls:hover #ableHistory
  max-height: 24em
